
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  font-family: Arial, Helvetica, sans-serif;
}

main{
  display: flex;
  flex-direction: row;
  margin: 50px 100px;
}

.poke-container{
  max-width: 80vw;
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  max-width: 80vw;
}

.search-bar {
  height: 70px;
  margin-bottom: 50px;
}

.search-bar input {
  font-size: 16px;
  padding-left: 15px;
  margin-right: 1%;
  border: 3px solid red;
  border-radius: 12px;
  width: 80%;
  height: 100%;
}

.search-bar button {
  cursor: pointer;
  background-color: red;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  width: 19%;
  height: 100%;
}

.search-bar button:hover{
  border: 3px solid red;
  background-color: white;
  color: red;
}

.poke-gallery {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  gap: 60px 20px;
  width: 70vw;
}

.poke-card{
  height: 180px;
  width: 300px;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 10px rgba(143, 143, 143, 0.20);
}

.poke-card:hover{
  border: 1px solid grey;
  cursor: pointer;
}

.poke-card img {
  position: relative;
  top: -60px;
  width: 120px;
}

.poke-card p {
  position: relative;
  top: -70px;
  font-weight: bold;
}

.poke-info{
  position: sticky;
  top: 50px;
  margin: 100px 30px 0 30px;
  background-color:  rgb(75, 75, 75);
  /* min-width: 20vw; */
  width: 30vw;
  height: 100vh;
}